blinker==1.9.0
click==8.2.1
colorama==0.4.6
docx2txt==0.9
Flask==3.1.1
itsdangerous==2.2.0
Jinja2==3.1.6
lxml==5.4.0
MarkupSafe==3.0.2
PyMuPDF==1.26.1
python-docx==1.1.2
typing_extensions==4.14.0
Werkzeug==3.1.3
